body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: hidden;
    background-color: black;
}

/*Header and nav*/

.logo{
    margin: 1rem;
    color: white;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-inline-end: 5rem;
    background: hsl(0, 0%, 0%, 0.75);
}


.primary-navigation a{
    text-decoration: none;
    color: white;
}

.primary-navigation a:hover{
    cursor: pointer;
    color: #5c131b;
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
}

.mobile-nav-toggle{
    display: none;
}

.flex{
    display: flex;
    gap: var(--gap, 1.5rem);
}


/*Body and video wrapper*/

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.wrapper video{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    padding-bottom: 80px;
    padding-right: 10px;
}

.text_box{
    position:absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    z-index: 1; /* Ensure the text is above the video */
    background-color: rgba(48, 77, 46, 1); /* Set the background color with transparency */
    color: #fff; 
    padding: 20px; 
    width: 100%;
    font-size: 5vw; 
    text-align: center; 
    mix-blend-mode:multiply;
}

.text_box h1{
    padding-left: 20px;
    padding-bottom: 50px;
}

@media (max-width: 40em) {

    .text_box{
        position:absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
        z-index: 1; /* Ensure the text is above the video */
        background-color: rgba(48, 77, 46, 1); /* Set the background color with transparency */
        color: #fff; 
        padding: 20px; 
        width: 100%;
        font-size: 7vw; 
        text-align: center; 
        mix-blend-mode:multiply;
    }

    .primary-navigation{
        --gap: 2em;
        font-weight: 400;
        font-family: monospace;
        font-size: 1.5em;

        position: fixed;
        inset: 0 0 0 40%;
        margin: 0;
       
        flex-direction: column;
        padding: min(20vh, 50rem) 2em;
        height: 100%;
       
        background: hsl(0, 0%, 0%, 0.15);
        backdrop-filter: blur(2rem);
        transition: all 0.3s ease; /* Adjust the duration (0.5s) and easing function (ease) as needed */
        z-index: 10;
        transform: translateX(100%);
    }

    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        width: 1rem;
        top: 20px;
        right: 3.5rem;
        border: 0;
        display: inline-block;
        cursor: pointer;
        background: transparent;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        margin: 6px 0;
        transition: 0.4s;
        background-color: white;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }


}

.primary-navigation[data-visible="true"]{
    transform: translateX(0%);
}

.video1{
    height: 50%;
}

.video2{
    height: 50vh;
    width: 50%;
    color: #fff;
}

/*
Here starts the login page
*/

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.login_display{
    min-height: 100vh;
    width: 80%;
    align-items:flex-start;
    justify-content: center;
    margin-top: 20px;
}

.login_view{
    display: grid;
    height: 70vh;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'login signin';
}


.login{
    grid-area: login;
    color: white;
    display: flex;
    flex-direction: column;
}

.sign_in{
    grid-area: signin;
    color: white;
    display: flex;
    flex-direction: column;
}

.input-field{
    width: 60%;
    outline: 0;
    border: 0;
    position: relative;
    margin-top: 50px;
    border-bottom: 2px solid gray;
    padding: 10px 0;
    background: transparent;
    font-size: 1em;
    color: white;
    transition: 0.3s ease;
}

.email-label{
    display: block;
    position: absolute;
    font-size: 1em;
    color: gray;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.input-field::placeholder{
    color: transparent;
}

.input-field:placeholder-shown + .email-label{
    display: block;
    font-size: 1em;
    top: 150px;
}

.input-field:focus{
    border-image-slice: 1;
}

.input-field:valid + .email-label,
.input-field:focus + .email-label{
    display: block;
    position: absolute;
    top: 130px;
    font-size: 0.75em;
}

/*Password*/

.password-label{
    display: block;
    position: absolute;
    font-size: 1em;
    color: gray;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.input-field:placeholder-shown + .password-label{
    display: block;
    font-size: 1em;
    top: 240px;
}

.input-field:valid + .password-label,
.input-field:focus + .password-label{
    display: block;
    position: absolute;
    top: 220px;
    font-size: 0.75em;
}

/*
Button
*/

.login_button{
    width: 310px;
    height: 35px;
    position: relative;
    top: 3.5rem;
    background: transparent;
    border: 2px solid gray; /* Set border style to solid and specify a single color */
    color: white;
    border-radius: 20px;
}

.login_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.4s ease;
}

.forgot_button{
    width: 310px;
    height: 35px;
    position: relative;
    top: 4rem;
    background: transparent;
    text-align: left;
    border: none; 
    color: white;
}

.button_text {
    display: inline-block;
    border-bottom: 2px solid transparent; /* Add bottom border to the text */
}

.button_text:hover {
    border-bottom-color: gray; /* Change bottom border color on hover */
    cursor: pointer;
}

/*Sign in*/

.subscribe_button{
    position: relative;
    top: 40px;
    width: 350px;
    height: 35px;
    background: transparent;
    border: 2px solid gray;
    color: white;
    border-radius: 20px;
}

.subscribe_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.4s ease;
}

/*CARDS CONTAINER*/

.card_wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    display: grid;
    grid-template-rows: 85% 25% ;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.card button{
    width: 300px;
    height: 60px;
    background-color: transparent;
    color: #fff;
    border: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
}

.card button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
    cursor: pointer;
}

.card1{
    background-image: url(/img/card1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.card2{
    background-image: url(/img/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.card3{
    background-image: url(/img/card3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

.card-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    z-index: 1; 
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



.card-overlay ul {
    list-style: none; 
    padding: 0; 
}

.card-overlay ul li {
    text-align: center; 
    margin-bottom: 10px; 
}

/*Media stuff*/

/*Subscruption page*/

@media (max-width: 40em) {

    .card_wrapper{
        width: 100%;
        height: calc(100vh - 60px);
        overflow-y:scroll;
    }

    .card{
        display: grid;
        grid-template-rows: 85% 25% ;
        width: 300px;
        height: 450px;
        border: none;
        color: #fff;
    }
    
    .card button{
        width: 300px;
        height: 60px;
        background-color: transparent;
        color: #fff;
        border: 1px solid gray;
    }
}

/*Login page*/

@media (max-width: 40em) {
    .login_view{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login{
        grid-area: login;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .sign_in{
        grid-area: signin;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .forgot_button{
        width: 310px;
        height: 35px;
        position: relative;
        top: 4rem;
        background: transparent;
        text-align: center;
        border: none; 
        color: white;
    }
    
}

/*Card page begins here*/

.card-wrapper{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.filter-bar{
    margin-top: 100px;
}

.dropdown{
    color: white;
    min-width: 6em;
    position: relative;
    margin: 1em;
    display: inline-block;
}

.dropdown * {
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 0.2em;
    cursor: pointer;
    transition: ease 0.3s;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: ease 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: ease 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.6em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;
}

.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}

@media (max-width: 40em) {
    .card-wrapper{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    #filter-bar{
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
        flex-direction: column;
    }

    .dropdown{
        color: white;
        min-width: 6em;
        position: relative;
        margin: 1em 0.5em;
        display: inline-block;
    }

    .release-date{
        margin: 1em 0.5em;
        position: relative;
    }

    .genre-reviewer{
        display: flex;
        flex-wrap: wrap;
    }

    .genre-reviewer .dropdown{
        width: 100%;        
    }

    .release-date-box{
        background: #2a2f3b;
        color: white;
        justify-content: space-between;
        align-items: center;
        border: 2px #2a2f3b solid;
        border-radius: 0.5em;
        padding: 0.2em;
        cursor: pointer;
        transition: ease 0.3s;
    }

    #title-search{
        width: 80%;
        height: 20px;
        border-radius: 0.5rem ;
    }

    /*Cards*/
    .cards{
        min-height: 100vh;
    }

    .movie-card{
        display: grid;
        background-color: white;
        width: 300px;
        height: 250px;
        border-radius: 10px;
        border: none;
        color: #fff;
        border-radius: 10px 10px 0px 0px;
    }
}





